@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    box-sizing: border-box;

    @mixin atMedium {
        font-size: 1.2rem;
    }
}

body {
    overflow: auto;

    @mixin atMedium {
        overflow: hidden;
    }
}