@-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  .circle-loader {
    opacity: 1;
    transition: opacity .45s ease-out, visibility .45s ease-out;
    visibility: visible;
    position: absolute;
    left: 50%;
    box-sizing: border-box;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 10px solid rgba(73, 80, 87, 0.2);
    border-top-color: #495057;
    will-change: -webkit-transform, transform;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;
  
}

.circle-loader__wrapper {
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &--visible{
        visibility: visible;
        opacity: 1;
    }
}